table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  table-layout: fixed;
}

td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  ;
}
